.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #136fad;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1.5s linear infinite;
    margin: 25% 38%;
}

.container{
    margin-top: 150px;
    margin: 65px 0 0 0;
    padding: 0;
    line-height: 0px;
}

.bg-dark {
    background-color: #1e4a6d !important;
}
